[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mypy = "*"
pytest-cov = "*"
flake8 = "*"
isort = "*"
sphinx = "*"
pre-commit = "*"
importlib-metadata = "*"
typing-extensions = "*"
types-pyyaml = "*"

[packages]
l5kit = {editable = true, path = "."}
zarr = "*"
numpy = "*"
opencv-contrib-python-headless = "*"
pymap3d = "*"
scipy = "*"
tqdm = "*"
transforms3d = "*"
pyyaml = "*"
matplotlib = "*"
imageio = "*"
notebook = "*"
ptable = "*"
ipywidgets = "*"
protobuf = "*"
torch = "*"
torchvision = "*"
shapely = "*"
bokeh = "*"
sphinx-press-theme = "*"
types-pyyaml = "*"
stable-baselines3 = {extras = ["extra"], version = "*"}
